body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 65px;  /* Increased spacing between questions */
}

label {
    display: block;
    margin-bottom: 10px;  /* Spacing below each label */
    font-weight: bold;
    font-size: 20px;  /* Increased font size for the question text */
}

select {
    width: 100%;
    padding: 12px;  /* Padding for better spacing */
    font-size: 16px;  /* Font size for the dropdown */
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 15px;  /* Increased padding for larger button size */
    background-color: #000;  /* Black background color */
    color: white;  /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;  /* Increased font size */
}

button:hover {
    background-color: #333;  /* Slightly lighter black on hover */
}

.result {
    margin-top: 30px;  /* Spacing above the result */
    padding: 20px;  /* Padding for the result box */
    border-radius: 8px;
    background-color: #e7f7ff;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 20px;  /* Increased font size for the result text */
}
.result table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result th, .result td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.result th {
    background-color: #f2f2f2;
}

.result td {
    font-size: 16px;
}
